/* font-family: 'Monda', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Share Tech', sans-serif;
font-family: 'Share Tech Mono', monospace;
*/

@font-face {
    font-family: 'futura';
    src: url(./assets/fonts/futura/futura\ medium\ bt.ttf);
}

@font-face {
    font-family: 'futura-bold';
    src: url(./assets/fonts/futura/Futura\ Bold\ font.ttf);
}
@font-face {
    font-family: 'quartz';
    src: url(./assets/fonts/quartz/Quartz.ttf);
}

@font-face {
    font-family: 'ocr-a';
    src: url(./assets/fonts/ocr-a/OCR-ABT.ttf);
}

.fonts {
    background-color: var(--black);
}

#monda {
    font-family: 'Monda', sans-serif;
    font-size: 2rem;
    color: white;
}

#play {
    font-family: 'Play', sans-serif;
    font-size: 2rem;
    color: white;
}

#press-start {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: white;
}

#roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: white;
}

#share {
    font-family: 'Share Tech', sans-serif;
    font-size: 2rem;
    color: white;
}

#share-mono {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    color: white;
}

#futura {
    font-family: 'futura';
    font-size: 2rem;
    color: white;
}

#quartz {
    font-family: 'quartz';
    font-size: 2rem;
    color: white;
}

#ocr {
    font-family: 'ocr-a';
    font-size: 2rem;
    color: white;
}

html {
    width: 100%;
    height: 100vh;
    font-size: 18px;


    --black: #1e1e1b;
    --grey: #cbcec2;
    --blue: #4565ad;
    --red: #e94f35;
    --green: #328734;
    --brown: #ddbcb7;
    --yellow: #e4d673;

    --svg-filter-grey: invert(99%) sepia(3%) saturate(827%) hue-rotate(18deg) brightness(87%) contrast(83%);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

.header {
    margin: 3vh 11vw 0 11vw;
    display: flex;
    align-items: center;
}


.logo {
    min-height: 65px;
    min-width: 65px;
    
    display: flex;
    place-content: center;
    margin: 0 auto 0 0;
}
.logo h1 {
    margin: 0;
    place-self: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    border-bottom: 2px solid var(--red);
    border-top: 2px solid var(--red);

    padding: 1.3vh 0;

}

.nav-btn {
    text-decoration: none;
    padding: 10px 40px;
    margin: 0 1.5vw;
    font-size: 1.5rem;
    font-family: 'ocr-a';
    color: var(--grey);
}

.nav-btn:hover {
    color: var(--red);
}

.nav-btn::before {
    content: '>>';
    color: var(--red);
}


#hero {
    color: white;
    margin: 20vh 11vw;
    background-color: var(--black);
}

#hello {
    font-size: 1.5rem;
    color: var(--red);
    font-family: 'Press Start 2P', cursive;
    margin: 30px 0;
}

#name {
    font-size: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 40px 0;

}

#description {
    width: 70vw;
    font-size: 1.2rem;
    font-family: 'futura';
    color: var(--grey);
    max-width: 900px;
}

.hero-btns-cont {
    display: flex;
    max-width: 900px;
    margin: 40px 0;
}

.hero-btns-cont a {
    text-decoration: none;
    padding: 10px 40px;
    margin: 50px 1.5vw;
    font-size: 1.5rem;
    font-family: 'ocr-a';
    color: var(--grey);
}

.hero-btns-cont a:hover {
    color: var(--red);
}

.hero-btns-cont i {
    color: var(--red);
    margin: 0 5px;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;

    right: 0;
    bottom: 0; /* temp */
    padding: 0px 1vw;

    position: fixed;

    height: 50vh;
    align-items: center;

}

/* .sidebar-right::before {
    content: '';
    width: 1px;
    height: 100vh;
    background-color: var(--red);
} */

.sidebar-right::after {
    content: '';
    width: 1px;
    height: 100vh;
    background-color: var(--red);
    box-shadow: 0px 0px 5px 1px red;

}

.sidebar-right a:hover {
    color: var(--red);
}

.sidebar-right a {
    text-decoration: none;
    margin: 5px 0;

    color: white;
    padding: 5px;
}

.sidebar-left {
    text-orientation: mixed;
    writing-mode: vertical-rl;

    display: flex;
    align-items: center;

    font-size: 1rem;

    left: 0;
    padding: 0 1vw;
    bottom: 0px;

    height: 80vh;

    position: fixed;
    font-family: 'Share Tech Mono', monospace;

}

.sidebar-left a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.4rem;
    margin: 10px 0;

}


.sidebar-left i {
    color: white;
}

.sidebar-left a:hover {
    color: var(--red);
}

/* .sidebar-left::before {
    content: '';
    width: 1px;
    height: 150vh;
    background-color: var(--red);
} */

.sidebar-left::after {
    content: '';
    width: 1px;
    height: 100vh;
    background-color: var(--red);
    box-shadow: 0px 0px 5px 1px red;
}

#about {
    background-color: var(--black);
    color: white;
    margin: 40vh 15vw 40vh 11vw;
}

.about-title {
    margin:  0 0 4vh 0;
    padding: 0;

    font-family: 'Press Start 2P', cursive;

    font-size: 2.5rem;
    text-align: left;
    padding: 5vh auto;
}

.about-title::before {
    content: '>>';
    color: var(--red);
}

.about-content {
    font-family: 'roboto';
    font-size: 0.8rem;
    line-height: 1.3rem;
}
.about-content p {
    padding-top: 5vh;
    max-width: 850px;
}


.about-img-wrapper {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    padding: 35px;
    border-right: 4px outset transparent;
    border-left: 4px outset var(--red) ;
    border-top: 4px outset transparent;
    border-bottom: 4px outset transparent;

}
.about-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    shape-outside: circle();
    padding: 8px;
    background-color: white;
    margin: 0;
}



#projects {
    margin: 40vh 11vw;
    color: white;
    padding: 10vh 0;
}

.projects-title {
    margin:  0 0 10vh 0;
    padding: 0;

    font-family: 'Press Start 2P', cursive;

    font-size: 2.5rem;
    text-align: left;
    padding: 5vh auto;
}

.projects-title::before {
    content: '>>';
    color: var(--red);
}

.projects-cont {
    display: grid;
    grid-template: auto / 1fr 9fr;
    column-gap: 5vw;
    width: 100%;
}

.projects-btns-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.projects-btns-cont button {
    padding: 15px 15px 15px 20px;
    background-color: var(--black);
    color: white;
    border: none;
    font-family: 'quartz';
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    border-bottom-right-radius: 50px;    
    border-top-right-radius: 50px;

    border-left: 3px solid #cbcec24d;
}


/* START: APPLY THIS STYLE ON CLICK/ WHEN SELECTED */
.projects-btns-cont button:nth-child(3) {
    color: var(--red);
}

.tab {
    content: '';
    background-color: var(--red);
    height: 60px;
    width: 3px;
    box-shadow: 0px 0px 5px 1px red;
    border-radius: 30px;
    position: absolute;
    top: 120px;
}
/* END: APPLY THIS STYLE ON CLICK/ WHEN SELECTED */


.projects-btns-cont button:hover {
    background-color: #e950354f;
    color: white;
    cursor: pointer;
}

/* .project-info-cont {
    background-color: white;
} */



.project-info {
    background-color: var(--black);
    padding: 1vh 0 0 0;
}
.project-screenshot {
    width: 100%;
    height: 70vh;

}

.project-title {
    margin: 0;
    font-family: 'futura-bold';
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.1rem;
}

.project-title::before {
    content: '<';
    color: var(--red);
    font-size: 2rem;
    font-family: 'futura-bold';
}

.project-title::after {
    content: '/>';
    color: var(--red);
    font-size: 2rem;
    font-family: 'futura-bold';
}

.project-desc {
    margin: 1vh 0 0 0;
    font-family: 'futura';
    font-size: 0.9rem;
    color: var(--grey);

}


.tags-cont {
    margin-bottom: 0;
    text-align: right;
    padding: 0 4vw;
}
 
.tags {
    height: 24px;
    width: 24px;
    margin: 0.5vh 0.5vw;
}

#html {
    filter: invert(56%) sepia(75%) saturate(3568%) hue-rotate(344deg) brightness(96%) contrast(97%);    /* #f26528 */
}

#css {
    filter: invert(50%) sepia(94%) saturate(378%) hue-rotate(153deg) brightness(97%) contrast(91%);    /* #2faadf */
}

#js {
    filter: invert(98%) sepia(66%) saturate(2519%) hue-rotate(323deg) brightness(104%) contrast(101%);
    /* #ffd93b */
}

/* .projects-btns-before {
    height: 24px;
    width: 24px;
    filter: invert(40%) sepia(84%) saturate(2775%) hue-rotate(342deg) brightness(96%) contrast(91%);
    margin: 0 0.4vw;
} */




#contact {
    color: white;
    margin: 20vh 11vw;
    background-color: var(--black);
}

.contact-title {
    margin:  0 0 10vh 0;

    font-family: 'Press Start 2P', cursive;

    font-size: 2.5rem;
    text-align: left;
    padding: 8vh auto;
}

.contact-title::before {
    content: '>>';
    color: var(--red);
}
.contact-card-cont {
    display: grid;
    grid-template: max-content min-content / max-content 1fr;
    column-gap: 5vw;
}

.contact-card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid white;
    grid-area: 1 / 1 / 2 / 2;
}

.contact-card-info {
    grid-area: 1/ 2 /2 /3;
}

.contact-card-skills {
    grid-area: 2 / 1 / 3 / 3;
}






/* 
Do List: 
>> add media query such that header turns into menu button after screen size decrases
>> animate hello world and Im arhian albis such that the animation shows typing one by 
    one letters and the paragraph under them to show up after it finishees typing
>> redesing PROJECTS and RESUME Btns on the hero section so that they look different from 
    the nav btns
>> make header stick as you scroll down
>> style scrollbar
>> make sidebars stick as you scroll down and eliminate them on the media query
>>redesign the scroll bar

>> when you click the project slider button it repositions the screen so the top is at the
top of the project screen and the project title is no longer visible.

>> resize the header such that when you make the window thinner the header resizes and a horizontal
scroll bar does NOT appear

>> make the logo animated such that it opens up and the letters come out of the two borders


*/
