/* font-family: 'Monda', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Share Tech', sans-serif;
font-family: 'Share Tech Mono', monospace;
*/

@font-face {
    font-family: 'futura';
    src: url(./assets/fonts/futura/futura\ medium\ bt.ttf);
}

@font-face {
    font-family: 'futura-bold';
    src: url(./assets/fonts/futura/Futura\ Bold\ font.ttf);
}
@font-face {
    font-family: 'quartz';
    src: url(./assets/fonts/quartz/Quartz.ttf);
}

@font-face {
    font-family: 'ocr-a';
    src: url(./assets/fonts/ocr-a/OCR-ABT.ttf);
}

.fonts {
    background-color: var(--black);
}

#monda {
    font-family: 'Monda', sans-serif;
    font-size: 2rem;
    color: white;
}

#play {
    font-family: 'Play', sans-serif;
    font-size: 2rem;
    color: white;
}

#press-start {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: white;
}

#roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: white;
}

#share {
    font-family: 'Share Tech', sans-serif;
    font-size: 2rem;
    color: white;
}

#share-mono {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    color: white;
}

#futura {
    font-family: 'futura';
    font-size: 2rem;
    color: white;
}

#quartz {
    font-family: 'quartz';
    font-size: 2rem;
    color: white;
}

#ocr {
    font-family: 'ocr-a';
    font-size: 2rem;
    color: white;
}

html {
    width: 100%;
    height: 100vh;
    font-size: 18px;
    scroll-behavior: smooth;

    --current-color: color: inherit;

    --black: #1e1e1b;
    --grey: #cbcec2;
    --blue: #4565ad;
    --red: #e94f35;
    --green: #328734;
    --brown: #ddbcb7;
    --yellow: #e4d673;
    --opaque-grey: #cbcec21e /* turn to filter notation so it can be applied to 'tags' html/css/js under projects */
    
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --svg-filter-grey: invert(99%) sepia(2%) saturate(932%) hue-rotate(23deg) brightness(85%) contrast(90%);
    --html-color-filter: invert(56%) sepia(75%) saturate(3568%) hue-rotate(344deg) brightness(96%) contrast(97%);
    --css-color-filter: invert(50%) sepia(94%) saturate(378%) hue-rotate(153deg) brightness(97%) contrast(91%);
    --js-color-filter: invert(98%) sepia(66%) saturate(2519%) hue-rotate(323deg) brightness(104%) contrast(101%);

}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

/* width */
::-webkit-scrollbar {
    width: 15px;
    margin: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbcec239;
    border-radius: 50px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--red);
  }

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;

    text-align: center;
  }

#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--black);
    overflow-y: scroll;
    scroll-snap-type: y proximity;

}


.header {
    margin: 3vh 11vw 0 11vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: 1s ease-in-out 0s 1 slideFromTop;


}
@-webkit-keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}


.slideFromLeft {
    animation: 2s ease-in-out 0s 1 slideFromLeft;
}
@-webkit-keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }
    
    75% {
        opacity: 0.75;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideFromRight {
    animation: 2s ease-in-out 0s 1 slideFromRight;
}
@-webkit-keyframes slideFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }
    
    75% {
        opacity: 0.75;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



.logo {
    
    display: flex;
    place-content: center;
    margin: 0;


}
 

.logo h1 {
    margin: 0;
    place-self: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    border-bottom: 2px solid var(--red);
    border-top: 2px solid var(--red);

    padding: 1.3vh 0;
}

.nav-btn {
    text-decoration: none;
    padding: 0;
    margin: 0 10px;
    font-size: 1.5rem;
    font-family: 'ocr-a';
    color: var(--grey);
    cursor: pointer;
}

.nav-btn:hover {
    color: var(--red);
}

.nav-btn::before {
    content: '>>';
    color: var(--red);
}


#hero {
    color: white;
    margin: 10vh 11vw;
    background-color: var(--black);
    padding-bottom: 5vw;
}

#hello {
    font-size: 1.5rem;
    color: var(--red);
    font-family: 'Press Start 2P', cursive;
}

/* #hello::after {
    content: '_';
    color: var(--red);
} */

#name {
    font-size: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    margin: 40px 0;
}

/* #name::after {
    content: '_';
    color: var(--red);
} */

#description {
    width: 70vw;
    font-size: 1.2rem;
    font-family: 'futura';
    color: var(--grey);
    max-width: 900px;
}

.hero-btns-cont a::before {    
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f120';
    color: var(--red);
    margin-right: 1vw;
}
.word::after {
    color: var(--red);
    content: '_';
    background-color: var(--red);
    height: inherit;
    width: inherit;
    animation: blinking-word 1s linear infinite;
    animation-delay: 3s;
}

#hero-project-btn, #hero-contact-btn {
    display: none;
}

@-webkit-keyframes blinking-word {
    0% { opacity: 0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

/* span#word {
    color: var(--red);
    content: '_';
    background-color: var(--red);
    height: inherit;
    width: inherit;
} */

/* #word2After {
    color: var(--red);
    content: '_';
    background-color: var(--red);
    height: inherit;
    width: inherit;
    display: inline;
} */

.hero-btns-cont {
    display: flex;
    max-width: 900px;
    margin: 40px 0;
    justify-content: center;
}

.hero-btns-cont a {
    text-decoration: none;
    padding: 10px 40px;
    margin: 50px 1.5vw;
    font-size: 1.5rem;
    font-family: 'ocr-a';
    color: var(--grey);
    cursor: pointer;
}

/* .hero-btns-cont a::after {
    content: '_';
    color: var(--grey);
} */

.hero-btns-cont a:hover {
    color: var(--red);
}



.sidebar-right {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;

    right: 0;
    bottom: 0; /* temp */
    padding: 0px 1vw;

    position: fixed;

    height: 50vh;
    align-items: center;
    animation: 1s ease-in-out 0s 1 slideFromBottom;
}

@-webkit-keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }
    
    75% {
        opacity: 0.75;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* .sidebar-right::before {
    content: '';
    width: 1px;
    height: 100vh;
    background-color: var(--red);
} */

.sidebar-right::after {
    content: '';
    width: 1px;
    height: 100vh;
    background-color: var(--red);
    box-shadow: 0px 0px 5px 1px red;

}

.sidebar-right a:hover {
    color: var(--red);
    animation: 2s ease 350ms 1 flip-x;
}

@-webkit-keyframes flip-x {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }

    50% {
        opacity: 1;
        transform: rotateX(720deg);
    }
    100% {
        /* animate nothing to pause animation at the end */
        opacity: 1;
        transform: rotateX(720deg);
    }
}

.sidebar-right a {
    text-decoration: none;
    margin: 5px 0;

    color: white;
    padding: 5px;
}

.sidebar-left {
    text-orientation: mixed;
    writing-mode: vertical-rl;

    display: flex;
    align-items: center;

    left: 0;
    padding: 0 1vw;
    bottom: 0px;

    height: 80vh;

    position: fixed;
    font-family: 'Share Tech Mono', monospace;
    animation: 1s ease-in-out 0s 1 slideFromBottom;

}

.sidebar-left a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.4rem;
    margin: 10px 0;
    transition: var(--transition);


}



.sidebar-left a:hover {
    color: var(--red);
    transform: translate(4px, 0);
    font-size: 0.95rem;
}

.sidebar-left::after {
    content: '';
    width: 1px;
    height: 100vh;
    background-color: var(--red);
    box-shadow: 0px 0px 5px 1px red;
}

#humor { color: #cbcec242;}

.scroll {
/*     width: 100%;
 */    /* background-color: var(--red); */
    position: absolute;
    /* z-index: 2; */
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.scroll a {
    position: relative;
    bottom: 1.6vh;
    left: 50%;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: white;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;

    padding-top: 5vw;
}

.scroll a:hover {
    opacity: .5;
}


.scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
}

.scroll a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: white;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
  
@keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}



#about {
    background-color: var(--black);
    color: white;
    margin: 40vh 15vw 40vh 11vw;
/*     padding-top: 5vh;
 */
 
 /*     scroll-snap-align: start;
 */


}

.about-title {
    margin:  0 0 4vh 0;
    padding: 0;

    font-family: 'Press Start 2P', cursive;

    font-size: 2.5rem;
    text-align: left;
    padding: 7vh auto;
}

.about-title::before {
    content: '>>';
    color: var(--red);
}

.about-content {
    font-family: 'roboto';
    font-size: 0.8rem;
    line-height: 1.3rem;
    opacity: 0;

}
.about-content p {
    padding-top: 5vh;
    max-width: 850px;
    opacity: 0;
}

#active {
    opacity: 1;
}





.about-img-wrapper {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    padding: 35px;
    border-right: 4px outset transparent;
    border-left: 4px outset var(--red) ;
    border-top: 4px outset transparent;
    border-bottom: 4px outset transparent;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

}
.about-img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    shape-outside: circle();
    padding: 8px;
    background-color: white;
    margin: 0;
}



#projects {
    margin: 40vh 11vw;
    color: white;
    padding: 5vh 0;
/*     scroll-snap-align: start;
 */    

}

.projects-title {
    margin:  0 0 10vh 0;
    padding: 0;

    font-family: 'Press Start 2P', cursive;

    font-size: 2.5rem;
    text-align: left;
    padding: 5vh auto;
}

.projects-title::before {
    content: '>>';
    color: var(--red);
}

.projects-cont {
    display: grid;
    grid-template: auto / 1fr 9fr;
    column-gap: 5vw;
    width: 100%;
    opacity: 0;
/*     scroll-snap-align: start;
    scroll-snap-align: center;
 */
/*     scroll-snap-align: end;
 */

}

.projects-btns-cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    opacity: 0;

}

.projects-btns-cont button {
    padding: 15px 15px 15px 20px;
    background-color: var(--black);
    color: white;
    border: none;
    font-family: 'quartz';
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    border-bottom-right-radius: 50px;    
    border-top-right-radius: 50px;

    border-left: 3px solid #cbcec24d;
}


/* START: APPLY THIS STYLE ON CLICK/ WHEN SELECTED */
#projects-btns-active {
    color: var(--red);
}

.tab {
    content: '';
    background-color: var(--red);
    height: 60px;
    width: 3px;
    box-shadow: 0px 0px 5px 1px red;
    border-radius: 30px;
    position: absolute;
    top: 0px;
}
/* END: APPLY THIS STYLE ON CLICK/ WHEN SELECTED */


.projects-btns-cont button:hover, #projects-btns-active:hover {
    background-color: #e950354f;
    cursor: pointer;
}

.project-info-cont {
    opacity: 0;
}



.project-info {
    background-color: var(--black);
    /* padding: 1vh 0 0 0; */
}
.project-screenshot {
    width: 100%;
    height: min-content;

    margin: 0;
    padding: 0;
    position: relative;
}

.project-screenshot img {
    width: 100%;
    height: 100%;
}

.next-btn, .prev-btn {
    color: white;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding: 10px;
    border-radius: 50px;
    background-color: #cbcec27b;
    position: absolute;
    bottom: 50%;
    cursor: pointer;

    display: none;
}

.next-btn {
    right: 0;
}

.prev-btn {
    left: 0;
}

.next-btn:hover, .prev-btn:hover {
    background-color: var(--black);
}
.project-title {
    margin: 0;
    font-family: 'futura-bold';
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.1rem;
}

.project-title::before {
    content: '<';
    color: var(--red);
    font-size: 2rem;
    font-family: 'futura-bold';
}

.project-title::after {
    content: '/>';
    color: var(--red);
    font-size: 2rem;
    font-family: 'futura-bold';
}

.project-desc {
    margin: 1vh 0 0 0;
    font-family: 'futura';
    font-size: 0.9rem;
    color: var(--grey);

}


.tags-cont {
    margin-bottom: 0;
    text-align: right;
    padding: 0 4vw;
}
 
.tags {
    height: 24px;
    width: 24px;
    margin: 0.5vh 0.5vw;
}

#html {
    filter: var(--html-color-filter);    /* #f26528 */
}

#css {
    filter: var(--css-color-filter);    /* #2faadf */
}

#js {
    filter: var(--js-color-filter); /* #ffd93b */
    opacity: 15%;
}

/* .projects-btns-before {
    height: 24px;
    width: 24px;
    filter: invert(40%) sepia(84%) saturate(2775%) hue-rotate(342deg) brightness(96%) contrast(91%);
    margin: 0 0.4vw;
} */




#contact {
    color: white;
    margin: 10vh 11vw 0 11vw;
    background-color: var(--black);
    padding: 5vh 0;
/*     scroll-snap-align: start;
 */

}

.contact-title {
    margin:  0 0 10vh 0;

    font-family: 'Press Start 2P', cursive;

    font-size: 2.5rem;
    text-align: left;
    padding: 8vh auto;
}

.contact-title::before {
    content: '>>';
    color: var(--red);
}

.contact-content {
    padding: 5vh 0;
/*     scroll-snap-align: start;
    scroll-snap-align: end;
 */

 opacity: 0;

}
.contact-card-cont {
    display: grid;
    grid-template: max-content 1fr / max-content 1fr;
    column-gap: 5vw;
    width: inherit;
    max-width: max-content;
    opacity: 0;
}


.contact-card-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid white;
    grid-area: 1 / 1 / 2 / 2;
}

.slideFromBottom {
    animation: 1.5s ease-in-out 0s 1 slideFromBottom;
}

.contact-card-info {
    grid-area: 1/ 2 /2 /3;
    font-family: 'futura-bold';
    width: inherit;
    max-width: max-content;
}

.contact-card-name {
    margin: 0 0 0.5vh 0;
    font-size: 3rem;
    letter-spacing: 0.1rem;
}

/* .contact-card-skills {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 1rem;
    font-family: 'futura';
    line-height: 38px;
}

.skills {
    font-family: 'Play', sans-serif;
    border: 1px solid white;
    padding: 0.5vw;
    border-radius: 10px;
} */

.contact-card-email {
    margin: 0;
    font-size: 1.2rem;
    color: var(--grey);
    font-family: 'futura';
}

.contact-card-email::before, .contact-card-ocupation::before {    
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: var(--red);
    margin-right: 1vw;
}

.contact-card-email::before {
    content: '\f0e0';
    font: var(--fa-font-regular);
}

.contact-card-ocupation::before {
    content: '\f120';
    font: var(--fa-font-solid);
}


/* .contact-card-email::before, .contact-card-ocupation::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: var(--red);
}



.contact-card-ocupation::before {
    content: '\f120';
    font: var(--fa-solid);
} */


/* .contact-card-email i {
    margin-right: 10px;
    color: var(--red);
} */

.contact-card-ocupation {
    margin: 0;
    color: var(--grey);
    font-size: 1.2rem;
    font-family: 'futura';
}


/* .contact-card-ocupation i {
    margin-right: 10px;
    color: var(--red);
} */

.contact-card-btns-cont {
    display: flex;
    margin: 2vh auto;
    padding-left: 3vw;
}

/* #resume {
    font-size: 1rem;
    color: white;
    background-color: var(--black);
    cursor: pointer;
    border: 1px solid white;
    font-family: 'Play', sans-serif;
    border-radius: 100px;
    padding: 5px 10px;
    margin: 0 1vw;
}

#resume:hover {
    background-color: var(--red);
} */

.contact-card-btns-cont i {
    font-size: 24px;
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 0.5vw;
}

.contact-card-btns-cont i:hover{
    background-color: var(--red);
    animation: 2s ease 350ms 1 flip-x;


}

.contact-form {
    display: grid;
    grid-template: repeat(3, 1fr) / auto;
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    margin: 6vh 0;
    opacity: 0;

}

.contact-form input, .contact-form textarea {
    width: auto;
    border: none;
    border-radius: 100px;
    padding: 1vh 1vw;
    background-color: #e9503596;
    margin: 0.5vh 0;
    border: 1px solid white;
    color: white;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: white;

}

.contact-form button {
    width: max-content;
    padding: 1vw 3vw;
    border-radius: 100px;
    border: none;
    font-size: 1rem;
    font-family: 'Play', sans-serif;
    background-color: var(--red);
    color: white;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: white;
    color: var(--red);

}


#contact-form-title {
    color: white;
    margin: 0 0 3vh 0;
    padding: 0;
    font-family: 'Play', sans-serif;
    font-size: 2rem;
}

#footer {
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-name {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

#footer .logo {
    margin-bottom: 0.3vh;
    margin: 0;
}



.media-header {
    display: none;
    margin: 3vh 2vw 0 30px;
}

.media-menu-cont {
    position: absolute;
    left: -30px;
    margin-top: 20px;
    background-color: var(--black);
    height: 100vh;
    width: 95vw;
    display: none;
    flex-direction: column;
    z-index: 100000000000;
    padding: 0;
    margin: 0;
}

#show {
    display: flex;
}

/* .header {
    margin: 3vh 11vw 0 11vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: 1s ease-out 0s 1 slideFromTop;


}
@-webkit-keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
 */










.media-menu {
    position: relative;
    cursor: pointer;
}

.media-menu span {
    display: block;
    color: white;
    font-size: 3rem;
    border-radius: 10px;
}

.media-menu span:hover {
    background-color: var(--red);
} /* check if desired style/behavior should be on hover or on click */


.media-menu-cont > .nav-btn::before {
    content: '';
}

.media-menu-cont > .nav-btn {
    padding: 2vh 0 2vh 30px;
    margin: 0;
    font-size: 2rem;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.media-header > .logo h1:hover {
    color: var(--red);
    cursor: pointer;
}

.media-menu-cont > .nav-btn:hover {
    color: white;
    background-color: var(--red);
}

@media (max-width: 425px) {

    /* Website-wide */
    html {
        font-size: 16px;
    }

    .sidebar-left, .sidebar-right, .header {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    #about, #projects, #contact {
        margin: 40vh 0vw;
    }

    .about-content, .project-info, .contact-content {
        padding-left: 30px;
    }

    .about-title.word::before, .projects-title.word::before, .contact-title.word::before {
        content: '>';
    }

    .about-title, .projects-title, .contact-title {
        font-size: 2rem;
    }

    /* HOME PAGE (HERO) */

    .media-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #hero {
        margin: 10vh 0vw;
        padding-left: 30px;
        text-align: left;
    }

    #name {
        margin: 20px 0;
    }

    #description {
        width: 80vw;
    }

    .hero-btns-cont {
        flex-direction: column;
        margin: 5vh 0;
    }

    .hero-btns-cont a {
        padding: 0px;
        margin: 25px 0;
        text-align: left;
    }
    
    #hero-project-btn, #hero-contact-btn {
        display: block;
    }


    /* ABOUT PAGE */
    
    .about-img-wrapper {
        width: 150px;
        height: 150px;
        padding: 10px;
    }


    /* PROJECTS PAGE */

    .projects-title {
        margin: 0 0 5vh 0;
    }

    .projects-cont {
        display: block;
        width: inherit;
    }

    .projects-btns-cont {
        display: none;
    }

    .next-btn, .prev-btn {
        display: flex;
    
    }


    /* CONTACT PAGE */
    
    #contact {
        margin-bottom: 0;
    }

    .contact-title {
        margin: 0 0 5vh 0;
    }
    
    .contact-card-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-content {
        padding: 0 0 0 30px;
    }

    .contact-card-btns-cont {
        padding: 0;
        justify-content: center;
    }

    .contact-card-btns-cont a {
        margin: 0 10px;
    }

    .contact-card-name {
        margin-bottom: 5vh;
    }
    .contact-card-img {
        width: 150px;
        height: 150px;
    }

    .contact-card-info {
        margin-top: 10px;
        text-align: center;
    }

    .contact-form {
        margin: 2vh 0;
    }

    #contact-form-title {
        text-align: center;
    }
}


@media (min-width: 425px) and (max-width: 768px) {
    /* Website-wide */
/*     html {
        font-size: 16px;
    }
 */
    .sidebar-left, .sidebar-right, .header {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

/*     #about, #projects, #contact {
        margin: 40vh 0vw;
    }

    .about-content, .project-info, .contact-content {
        padding-left: 30px;
    }
 */
    .about-title.word::before, .projects-title.word::before, .contact-title.word::before {
        content: '>';
    }

/*     .about-title, .projects-title, .contact-title {
        font-size: 2rem;
    }
 */
    /* HOME PAGE (HERO) */

    .media-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
/*         margin: 3vh 5vw 0 11vw;
 */    }

/*     #hero {
        margin: 10vh 0vw;
        padding-left: 30px;
        text-align: left;
    }

    #name {
        margin: 20px 0;
    }

    #description {
        width: 80vw;
    }
 */
    .hero-btns-cont {
        flex-direction: column;
        margin: 5vh 0;
    }

    .hero-btns-cont a {
        padding: 0px;
        margin: 25px 0;
        text-align: left;
    }
    
    #hero-project-btn, #hero-contact-btn {
        display: block;
    }


    /* ABOUT PAGE */
    
    .about-img-wrapper {
        width: 200px;
        height: 200px;
        padding: 20px;
    }


    /* PROJECTS PAGE */

    .projects-title {
        margin: 0 0 5vh 0;
    }

    .projects-cont {
        display: block;
        width: inherit;
    }

    .projects-btns-cont {
        display: none;
    }

    .next-btn, .prev-btn {
        display: flex;
    
    }


    /* CONTACT PAGE */
    
    #contact {
        margin-bottom: 0;
    }

    .contact-title {
        margin: 0 0 5vh 0;
    }
    
    .contact-card-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-content {
        padding: 0 0 0 30px;
    }

    .contact-card-btns-cont {
        padding: 0;
        justify-content: center;
    }

    .contact-card-btns-cont a {
        margin: 0 10px;
    }

    .contact-card-name {
        margin-bottom: 5vh;
    }
    .contact-card-img {
        width: 150px;
        height: 150px;
    }

    .contact-card-info {
        margin-top: 10px;
        text-align: center;
    }

    .contact-form {
        margin: 2vh 0;
    }

    #contact-form-title {
        text-align: center;
    }
}


/* 
Do List: 

>> make header stick as you scroll down

>> when you click the project slider button it repositions the screen so the top is at the
top of the project screen and the project title is no longer visible.


>> make the logo animated such that it opens up and the letters come out of the two borders

>> FIX RESUME LINKS!!!
*/
